.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
ul{
  margin: 0 25px;
  padding: 0;
}
ul li{
  padding: 6px 10px;
  list-style-type: none;
  list-style-image: none;
  list-style-position: inside;
  text-align: left;
  margin-bottom: 1px;
}
ul li:nth-child(odd){
  background-color: #ddd;
}
ul li:nth-child(even){
  background-color: #eee;
}
h5,p{
  margin: 0;
  padding: 0;
}